@model MvC.Models.About
@{
    ViewBag.Title = "Index";
}
<h1>About Sooners Football.</h1>

<h2>About the University of Oklahoma Football Program</h2>

    <div>OU Football is coached by <b>@Model.HeadCoach</b>. The Sooners have a bowl record of <b>@Model.BowlRecord</b> and have a <b>@Model.NationalTitles</b> National Titles in their history.</div>


